{% extends "base.html" %}

{% block content %}
{% include "components/nav-bar.html" %}

<h1>bodybodybody</h1>

    <pre>
░▒░  ░▒    ▒▒     ░░
░██  ▒█    ▒▒     ▒█
░██▒ ▒█  ░░░░   ░░▒█░░░  ░░░     ░░░░░
░█▓▓ ▒█  ▒██▓   ░█████▒ ░███▓░   ▓▓███░
░█░█░▒█    ▓▓     ▒█    ▓▓ ░█▒   ▓█░ ░░
░█░▓▒▒█    ▓▓     ▒█   ░█░  ▒█   ▓▓
░█░░█▒█    ▓▓     ▒█   ░█░  ▒█   ▓▒
░█░ █▓█    ▓▓     ▒█   ░█░  ▒█   ▓▒
░█░ ▒██    ▓▓     ░█░   ▓▓ ░█▒   ▓▒
░█░ ░██  ██████    ▓██▒ ░███▓░   ▓▒
                          ░░                  </pre>
<footer>Footer somewhere here</footer>
{% endblock %}
