{% extends "base.html" %}

{% block content %}
    {% include "components/nav-bar.html" %}

    <h1>bodybodybody</h1>

    <pre>
░▒░  ░▒    ▒▒     ░░
░██  ▒█    ▒▒     ▒█
░██▒ ▒█  ░░░░   ░░▒█░░░  ░░░     ░░░░░
░█▓▓ ▒█  ▒██▓   ░█████▒ ░███▓░   ▓▓███░
░█░█░▒█    ▓▓     ▒█    ▓▓ ░█▒   ▓█░ ░░
░█░▓▒▒█    ▓▓     ▒█   ░█░  ▒█   ▓▓
░█░░█▒█    ▓▓     ▒█   ░█░  ▒█   ▓▒
░█░ █▓█    ▓▓     ▒█   ░█░  ▒█   ▓▒
░█░ ▒██    ▓▓     ░█░   ▓▓ ░█▒   ▓▒
░█░ ░██  ██████    ▓██▒ ░███▓░   ▓▒
                          ░░
    </pre>

    <img src="static/images/nitor.jpg" alt="Logo">
    <footer>Footer somewhere here</footer>
{% endblock %}
