{% extends "base.html" %}

{% include "components/nav-bar.html" %}

{% block content %}

<div class="container">
  <h2>Activities</h2>
  <table>
    {% for activity in activities %}
    <tr>
      <th>
        {{ activity.id }}
      </th>
      <th>
        <a href="activities/{{activity.id}}">{{ activity.name }}</a>
      </th>
    </tr>
    {% endfor %}
  </table>
  <br />
  <br />
  <h4>Generate new activity with NLP</h4>
  <button id="the-button" type="button" class="btn btn-dark"
    data-toggle="collapse" data-target="#gen"><span class="badge badge-message">Generate!
     <i class="fas fa-angle-down"></i></button>
  <div id="gen" class="collapse">
    <div class="list-group">
        <span>You have no sent messages.</span>
    </div>
  </div>
  <button id="the-button" type="button" class="btn btn-dark"
    data-toggle="collapse" data-target="#shake"><span class="badge badge-message">Shakespear opinion
     <i class="fas fa-angle-down"></i></button>
  <div id="shake" class="collapse">
    <div class="list-group">
        <span>You have no sent messages.</span>
    </div>
  </div>

</div>

{%include "components/footer.html" %}
{% endblock %}