{% extends "base.html" %}

{% include "components/nav-bar.html" %}

{% block content %}
<table class="table table-dark" style="background-color: #383838; margin-top: 2em;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Metres away</th>
      </tr>
    </thead>
    <tbody>
        {% for friend in distances %}

      <tr>
        <td>{{friend[0]}}</td>
        <td>{{friend[1]}} </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {%include "components/footer.html" %}

{% endblock %}
