{% extends "base.html" %}

{% include "components/nav-bar.html" %}

{% block content %}

<div class="container">
  <h2>Flights</h2>
  <hr>
  <h3>Arrival</h3>
  <table>
    {% for flight in fromFlights %}
    <tr>
      <th>
        {{ flight.id }}
      </th>
      <th>
        <a href="flights/{{flight.id}}">{{ flight.name }}</a>
      </th>
    </tr>
    {% endfor %}
  </table>
  <hr>
  <h3>Departure</h3>
  <table>
    {% for flight in fromFlights %}
    <tr>
      <th>
        {{ flight.id }}
      </th>
      <th>
        <a href="flights/{{flight.id}}">{{ flight.name }}</a>
      </th>
    </tr>
    {% endfor %}
  </table>

</div>

{% endblock %}