<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #5b5b5b;
      color: black;
      text-align: center;
    }
    .footer-link {
        color: #7DBDCE
    }
    .copyright {
        font-size: 20px;
    }

    .footer-link, .footer-link:focus, .footer-link:active {
      text-decoration: none;
      color: inherit;
    }

    .list-inline {
        margin-top: 15px;
    }

    </style>

    
    <div class="footer">
      <ul class="list-inline">
        <li class="list-inline-item"><a class="footer-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">User passwords</a></li>
        <li class="list-inline-item"><a class="footer-link" href="/secret">Privacy Policy</a></li>
    </ul>
      <p class="copyright">Hackstreet Boys © 2022</p>

    </div>