<html lang="">
<head>
    <style>
        body {
            background: black;
            color: #00cf00;
        }
    </style>
    <title>Secret</title>
</head>
<body>
<pre><code>
                  ░▒░
 ▒▓▓░    ▒▓▒      ▒█▓         ░░░
 ▓██▓    ▓█▒      ▒█▓         ▓█▒
 ▓███░   ▓█▒      ░░░         ▓█▒
 ▓███▒   ▓█▒                  ▓█▒            ░               ░
 ▓█▓██   ▓█▒   ░▓▓▓▓▒      ▒▓▓███▓▓▓▓     ░▓███▓░      ░▓▓░▒███▓░
 ▓█▓▓█▒  ▓█▒   ░████▓      ▒████████▓    ░███▓███░     ░█▓▓█████░
 ▓█▓░█▓  ▓█▒      ▒█▓         ▓█▒       ░██▒   ▓██     ░███▒   ▒░
 ▓█▓ ▓█░ ▓█▒      ▒█▓         ▓█▒       ░██░   ░██░    ░██▒
 ▓█▓ ▒█▒ ▓█▒      ▒█▓         ▓█▒       ▒█▓     ▓█▒    ░██░
 ▓█▓ ░██░▓█▒      ▒█▓         ▓█▒       ▓█▓     ▓█▒    ░██
 ▓█▓  ▒█▒▓█▒      ▒█▓         ▓█▒       ▓█▒     ▓█▒    ░█▓
 ▓█▓  ░█▓▓█▒      ▒█▓         ▓█▒       ▒█▓     ▓█▒    ░█▓
 ▓█▓   ▓█▓█▒      ▒█▓         ▒█▒       ▒██     ██░    ░█▓
 ▓█▓   ░███▒      ▒█▓         ▒█▓       ░██▒   ▒██░    ░█▓
 ▓█▓    ███▒  ░▓▓▓▓██▓▓▓░     ░███▓▓▒    ▒██▓▒▓██▒     ░█▓
 ▓█▓    ▒██▒  ░█████████▒      ░▓████     ▒█████▒      ░█▓
                                           ░░▒░░

Enter your command

[root@nitor ~]$ <span id="blink">_</span>
      </code></pre>
</body>
<script>
    let show = true;
    setInterval(() => {
        show = !show
        blink.style = show ? "display: show" : "display: none";
    }, 500)
</script>
</html>