{% extends "base.html" %}

{% include "components/nav-bar.html" %}

{% block content %}

<div class="container">
  <h2>User</h2>
  <table>
    <tr>
      <th>
        id
      </th>
      <th>
        name
      </th>
      <th>
        email
      </th>
      <th>
        coordinates
      </th>
    </tr>
    {% for user in users %}
    {% if user.id == user_id %}
    <tr>
      <th>
        {{ user.id }}
      </th>
      <th>
        <a href="/users/{{ user.id }}">{{ user.name }}</a>
      </th>
      <th>
        {{ user.email }}
      </th>
      <th>
        {% for coordinate in coordinates %}
        {% if coordinate.userId == user_id %}
        {{coordinate.coordinates.lat}}
        {{coordinate.coordinates.long}}
        {% endif %}
        {% endfor %}
      </th>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

</div>

{% endblock %}